#include "Base.xcconfig"

DEVELOPMENT_TEAM = ABC123456

BUNDLE_ID_PREFIX = change.me
BUNDLE_ID_SUFFIX = library.development

KEYCHAIN_GROUP_SUFFIX = Library.development

SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
// SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENABLE_CENTRALIZED DEBUG

ENTITLEMENT_BASE = FREE_DEVELOPER_ACCOUNT
